*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //62.5%=10px=1rem
}

body {
    box-sizing: border-box;
    font-family: "Vazir", sans-serif !important;
    font-weight: 300;
}

.row {
    max-width: 1350px;
    height: 100%;
    margin: 0 auto;
    // display: flex;
}